// bower dependancies for our application

script(src='bower_components/jquery/dist/jquery.min.js')
script(src='bower_components/socket.io-1.4.5/index.js')
script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')