// -- navbar.jade ~ copyright 2016 Paul Beaudet
.header.clearfix
    nav
        ul.nav.nav-pills.pull-right
            li(role='presentation')
                a(href='/signin') Name/Sign-in
            li(role='presentation')
                a(href='/') Refresh Chat
        h3#title.text-muted Randochat!
