// -- navbar.jade ~ copyright 2016 Paul Beaudet
.navbar.navbar-inverse.navebar-fixed-top
    .container
        .navbar-header
            button.navbar-toggle(type= "button", data-toggle= "collapse", data-target= ".navbar-collapse")
                span.icon-bar
                span.icon-bar
                span.icon-bar

            a.navbar-brand(href='/') RandoChat!

        .navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
                li
                    a(href='/signin') name / login
                li
                    a(href='#') About
