// -- navbar.jade ~ copyright 2016 Paul Beaudet
.header.clearfix
    nav
        ul.nav.nav-pills.pull-right
            li(role='presentation')
                a(href='/') New Name
            li(role='presentation')
                a(href='/chat') Refresh Chat
        h3#title.text-muted Stranger Danger!
