.message {
    font-size: 110%;
    border-bottom: 1px solid #ccc
}

ul {
  list-style: none;
  word-wrap: break-word;
}

/* all views defualt to none*/
.view {
    display: none;
}

.wait {
    background-color: #3c3c3c;
}
